.btn-play {
  z-index: 1;
}
.btn-pause {
  z-index: -1;
}
.btn-play,
.btn-pause {
  width: 51px;
  height: 51px;
  @apply absolute-center rounded-full border-2 border-white flex-center;
  &:focus {
    @apply outline-none;
  }
  img {
    @apply ml-1;
  }
}
.video-box {
  @apply relative;
  &.playing {
    .btn-play {
      z-index: -1;
    }
  }
  &:hover {
    &.playing .btn-pause {
      z-index: 1;
    }
  }
}
