{{#with cta}}
<section class="cta bg-primary-gradient py-12 md:py-24">
  <div class="container text-white text-center">
    <h1 class="mb-6">{{title}}</h1>
    <p class="mb-6 md:mb-8">{{{text}}}</p>
    <a href="#" class="btn btn-outline-white">{{label}}</a>
  </div>
</section>
{{/with}}
