<div class="container">
  <div class="pagination text-black text-base">
    <ul class="flex justify-end text-center">
      <li><a class="flex-center h-8" href="#"><img src="images/symbols/half-arrow-left--black.svg" alt="#"></a></li>
      <li class="ml-4"><a class="block w-8 h-8 leading-8 active" href="#">1</a></li>
      <li class="ml-2"><a class="block w-8 h-8 leading-8" href="#">2</a></li>
      <li class="ml-2"><a class="block w-8 h-8 leading-8" href="#">3</a></li>
      <li class="ml-4"><a class="flex-center h-8 leading-8" href="#"><img src="images/symbols/half-arrow-right--black.svg" alt="#"></a></li>
    </ul>
  </div>
</div>
