{{#with description}}
<div class="w-full mt-8">
  <p class="text-base text-primary font-medium mb-2">{{range}}</p>
  <h2 class="text-black font-medium mb-6">{{title}}</h2>
  <p class="text-black">Model Name: RL</p>
  <p class="text-base">With the Innovator | Low-wattage heated glass doors,
    this cabinet provides greater energy efficiency, better
    lighting and easier maintenance than other glass door
    cabinets, giving best-in-class performances</p>
  <div class="sm:flex flex-row mt-6 mb-12 lg:mb-24">
    <a href="#" class="btn-lg btn-primary">Contact Sales</a>
    <a href="#" class="btn text-primary ml-5 mt-2 sm:mt-0 sm:ml-0" download="">Tech Specs <img class="inline ml-1" src="images/symbols/download-icon.svg" alt="#"></a>
  </div>
</div>
{{/with}}
