{{#with text-section}}
<section class="container text-section">
  <div class="shadow-lg px-6 py-12 lg:py-16 xl:py-24 my-12 lg:my-20 text-base leading-6 relative">
    <div class="max-w-screen-md mx-auto">
      <p class="mb-6">{{text}}</p>
      <h3 class="text-black mb-6">{{heading}}</h3>
      <p>{{text}}</p>
    </div>
    <span class="block absolute bottom-0 left-0 bg-primary-gradient h-7px w-full"></span>
  </div>
</section>
{{/with}}
