@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  [src$="/arrow-right.svg"] {
    height: 16px;
    max-height: 16px;
  }
  [src$="/play-icon.svg"] {
    height: 20px;
    margin-top: 13px;
  }
  [src$="/pause-icon.svg"] {
    margin-top: 6px;
  }
  textarea {
    color: #7d7d7d !important;
    font-style: italic;
  }
  .radio-label {
    &:after {
      content: "";
      width: 12px;
      height: 12px;
      left: 4px;
      top: 6px;
    }
  }
}
@supports (-ms-ime-align: auto) {
  [src$="/arrow-right.svg"] {
    height: 16px;
    max-height: 16px;
  }
}
