<!doctype html>
<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body>
{{> ../common/header}}
<section class="container">
  <div class="pt-32 md:pt-40 pb-32 md:pb-48 text-center mt-12 lg:mt-32">
    <div class="flex justify-center mb-6">
      <img class="w-20" src="images/symbols/frown-light.svg" alt="#">
    </div>
    <h4 class="mb-4 text-black">Oops, this page cannot be found</h4>
    <p class="text-base mb-4 leading-6">We can't seem to find the page you are looking for</p>
    <a href="#" class="btn-sm btn-primary">Back to Home</a>
  </div>
</section>
{{> ../common/footer}}
</body>
</html>
