<!doctype html>
<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body>
{{> ../common/header}}
{{> ../partials/page-intro}}
<section class="my-16">
  <div class="container">
    {{> ../partials/faq-block}}
  </div>
</section>
{{> ../partials/cta}}
{{> ../common/footer}}
</body>
</html>
