<!doctype html>
<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body>
  <script>
    // Simply redirect to the welcome page for now
    window.location.href = '/sitemap.html'
  </script>
</body>
</html>
