<!doctype html>
<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body>
  {{> ../common/header}}
  {{> ../partials/page-intro}}
  {{> ../partials/image-content-block}}
  {{> ../partials/text-section}}
  {{> ../partials/list-section}}
  {{> ../common/footer}}
</body>
</html>
