<!doctype html>
<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body>
{{> ../common/header}}
{{> ../partials/page-intro}}

  <section class="container">
    <div class="md:pt-16 pb-12 md:pb-32 text-center">
      <div class="flex justify-center mb-5">
        <img src="images/symbols/large-rounded-checkbox.svg" alt="#">
      </div>
      <h2 class="font-medium mb-8 text-black">Your Submission has been recieved & we will contact you shortly</h2>
      <p class="text-base mb-8 leading-6">If you have any queries in the meatime, please call us on <a href="telto:02 8805 0400" class="text-primary font-medium whitespace-no-wrap">(02) 8805 0400</a></p>
      <a href="#" class="btn-lg btn-primary">Back to Home</a>
    </div>
  </section>

  <section class="mb-12 md:mb-24">
    {{> ../partials/image-content-block-v3}}
  </section>
  {{> ../common/footer}}
</body>
</html>
